*{
	margin:0px;
	padding:0px;
	


}

body{

		background-image: url("/pictures/slide1.jpg");

}

/*titulo*/

div#titulo{
	width:100%;
	margin-top:0px;
	padding:0px;
	font-family: fantasy, Helvetica Neue; 
}



p#header{
	text-align: center;
	font-size: 4.5em;
	color:#ff5722;
	padding:0px;
		font-family: fantasy, Helvetica Neue; 
	
}

p#subheader{
	text-align: center;
	color:#6e1d79;
	margin-top:0px;
	font-size: 1.3em;
	text-align: right;
}

header{
	margin:10px auto;
	width:1200px;
	height:170px;
	background-color: #ff5722;
	font-family: fantasy, Helvetica Neue; 
}

div.contenedor{
	width: 200px;
	height: 30px;
	
	float:left;
	-webkit-transition: height .2s;
}

div#uno{
	background-color: rgb(88, 219, 38);
}

div#dos{
	background-color: rgb(150, 233, 26);
}

div#tres{
	background-color: rgb(22,145,190);
}

div#cuatro{
	background-color: rgb(22,107,162);
}

div#cinco{
	background-color: rgb(27,54,71);
}

div#seis{
	background-color: rgb(21,40,54);
}

img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width: 50px;
	padding: 7px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

.secciones spam.icon{

font-size: 2.2em;
}
p.texto{
	font-size: 1.2em;
	color:#ff5722;
	text-align: center;
	padding-top:0px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:170px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}


.margen{


	width: 800px;
	max-width: 100%;
	margin: 30px auto;
}


.margen .secciones {
	width: 105%;
	background-color: #DC7B3A;
}

.secciones > article{

	
	width: 800px;
	max-width: 90%;
	margin: 70px auto;
	padding:20px;
    width: 90%;
	/*background-color: #ddecf659;*/
}
.secciones > article > p {

	text-align: justify;
}


div article h1 {
font-size: 1.3em;

}

.text-tabs {

	text-align: justify;
	font-size: 1.1em;
	color:#6e1d79;
	font-family: Helvetica Neue; 


}




.active{
	background: #0984CC;
}



p.text-title {


	font-size: 1.0em;
    font-weight: 600;
  }


div#footer p{

	text-align: justify;
	 font-weight: 600;
}

  .text-org{
	font-size: 2.3em;
	font-family: fantasy, Helvetica Neue;

  }

  .text-org {

  	  margin-left: 8px;
  	  padding: 20px;
  	  margin-bottom: 100px;
  	
  }


  .text-footer {

  	  margin-left: 0px;
  	  padding: 0px;
  	  margin-bottom: 100px;
  	  color:#FFFFFF;
  }


.text-contact {

 
  	  padding: 20px;
  }


img.img-article {

	
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.FooterContainer{
	background: #00395B;
	padding: 40px 0;
	text-align: center;
		text-align: left;
}

.footer{
    width: 800px;
	max-width: 90%;
	margin: 70px auto;
	padding:20px;
    width: 90%;
    background-color: #ff5722;	
}



ul> li{
	color:#000000;
	text-align: justify;
	padding-top:13px;
	font-family: sans-serif
}


.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.img-logo{

	border-radius: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 20px;
  	width: 8em;

}
.inicio  ul{
	
   	
	list-style: none;
	display: flex;
	padding: 0;
	width: auto;


}


.inicio {

	margin: auto;
	overflow: hidden;
}


.inicio li {

	list-style: none;
}

.inicio img {
	width: 100%;
}









div#contacto spam.icon{
font-size: 2.3em;

}




#lista3 {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    /*font: 15px 'trebuchet MS', 'lucida sans'; */
    font-family: sans-serif, Helvetica Neue;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista3 ol {
    margin: 0 0 0 2em; 
}

#lista3 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
 /*   background: #ddd;*/
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#lista3 li:hover{
    background: #eee;
}   

#lista3 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#lista3 li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#lista3 li:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}














